%h2 DELFI RSS Feed

.info-box
  %span.info-box-icon.bg-green
    %i.fa.fa-flag-o
  .info-box-content
    %span.info-box-text Category
    %span.info-box-number= current_user.channel.name
    %span.progress-description{ style: 'font-style: italic;' }= max_post_count

%ul.timeline
  - current_item_day = nil
  - @feed_items.each do |item|
    - if current_item_day != item.pubDate.day
      - current_item_day = item.pubDate.day
      %li.time-label
        %span.bg-red
          = item.pubDate.strftime("%a %b #{item.pubDate.day.ordinalize}")
    %li
      %i.fa.fa-newspaper-o.bg-blue
      .timeline-item
        %span.time
          %i.fa.fa-clock-o
          = item.pubDate.to_formatted_s(:long_ordinal)
        %h3.timeline-header
          %a{ href: item.link, target: '_blank' }= item.title
        .timeline-body
          = item.description.html_safe
  %li
    %i.fa.fa-clock-o.bg-gray
