%body
  %header.main-header
    / Logo
    %a.logo{:href => '/'}
      / mini logo for sidebar mini 50x50 pixels
      %span.logo-mini
        %b> d
        R
      / logo for regular state and mobile devices
      %span.logo-lg
        %b> d
        Reader
    / Header Navbar
    %nav.navbar.navbar-static-top{:role => 'navigation'}
      / Sidebar toggle button
      %a.sidebar-toggle{'data-toggle' => 'offcanvas', :href => '#', :role => 'button'}
        %span.sr-only Toggle navigation
      / Navbar Right Menu
      .navbar-custom-menu
        %ul.nav.navbar-nav
          / User Account Menu
          %li.dropdown.user.user-menu
            / Menu Toggle Button
            %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
              / The user image in the navbar
              = current_user_avatar(class: 'user-image')
              / hidden-xs hides the username on small devices so only the image appears.
              %span.hidden-xs= current_user.name
            %ul.dropdown-menu
              / The user image in the menu
              %li.user-header
                = current_user_avatar
                %p
                  = current_user.name
                  %small= current_user_since
              / Menu Footer
              %li.user-footer
                .pull-left
                  %a.btn.btn-default.btn-flat{ href: "#{user_path}" } Profile
                .pull-right
                  %a.btn.btn-default.btn-flat{ href: "#{signout_path}" } Sign out
